.bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  /* filter: blur(10px);
    -webkit-filter: blur(10px); */
}
.bg .bg__Shape1 {
  position: absolute;
  top: -140px;
  left: -200px;
  height: 900px;
  width: 900px;
  background-color: grey;
  border-top-left-radius: 0%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ac4ed8+0,0de8c3+99 */
  background: rgb(172, 78, 216); /* Old browsers */
  background: -moz-linear-gradient(
    -45deg,
    rgba(172, 78, 216, 1) 0%,
    rgba(13, 232, 195, 1) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(172, 78, 216, 1) 0%,
    rgba(13, 232, 195, 1) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(172, 78, 216, 1) 0%,
    rgba(13, 232, 195, 1) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac4ed8', endColorstr='#0de8c3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
