html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}

/* styling scrollbars */

::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #96999b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #8f8d8d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.6rem;
}

.pointer {
  cursor: pointer;
}
